<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WaveAuto</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cars</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">User</a>
            <ul class="dropdown-menu">

              {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              <li><a class="dropdown-item" href="{% url 'register' %}">Register</a></li>     
              {% endif %}
              
            </ul>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">{{request.user.username}} Dashboard</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'myCart' %}"><i class="bi bi-cart"></i><span class="badge bg-danger">{{carts}}</span></a>
          </li>
        </ul>
        <form class="d-flex w-25" method="get" action="{% url 'search' %}">
          <div class="input-group">
            <input type="text" class="form-control" name="kword" placeholder="Search here">
            <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </nav>