{% extends "base.html" %}
{% load humanize %}
{% block title %}
  Welcome to WaveAuto | Index
{% endblock title %}

{% block content %}

<!-- banner -->
<section id="banner">
    <div class="container-fluid p-0">
      {% if banner %}
        {% for banner in banner  %}
        <img src="{{banner.banner.url}}" class="img-fluid" alt="banner ads">
        {% endfor %}
      {% else %}
        <p class="lead bg-danger p-3 text-white">
          No Ads To Display For Now !!
        </p>
      {% endif %}
    </div>
</section>

<!-- products -->
<section id="products">
  <div class="container my-2 py-4">
    <div class="intro  text-center">
      <h3 >First Class Car Online Sales & Limousine Services
      </h3>
      <p class="lead">We offer professional car rental & limousine services in our range of high-end vehicles
      </p>
    </div>
    <!-- row -->
    <div class="row g-3">
      {% if paginator  %}
        {% for product in paginator %}
        <div class="col-md-4">
          <div class="card shadow">
            <a href="{% url 'singleCar' product.id %}" class="text-decoration-none">
              <div class="card-img-overlay d-flex"><h3 class="text-white fw-bold mt-auto">{{product.name}}</h3></div>
              <img src="{{product.image.url}}" height="300" alt="" class="card-img">
            </a>
          </div>  
        </div>
        {% endfor %}
        <!-- pagination -->
        <div class="container my-4">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <ul class="pagination">
                {% if paginator.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ paginator.previous_page_number }}">Previous</a></li>
                {% else %}
                <li class="page-item"><a class="page-link">Previous</a></li>
                {% endif %}

                {% for i in paginator.paginator.page_range  %}
                  {% if i == paginator.number %}
                  <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                  {% else %}
                  <li class="page-item "><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                  {% endif %}
                  
                {% endfor %}

                {% if paginator.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ paginator.next_page_number }}">Next</a></li>
                {% else %}
                <li class="page-item"><a class="page-link">Next</a></li>
                {% endif %}
                
              </ul>
            </div>
          </div>
        </div>
      {% else %}
        <p class="lead bg-danger p-3 text-white">No Product Added By The Admin Yet !</p>
      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}