{% extends "base.html" %}
{% load humanize %}
{% block title %}
  Welcome to WaveAuto | Search
{% endblock title %}

{% block content %}

<section>
    <div class="container my-3">
        <div class="row">
            {% if search %}
              {% for item in search %}
              <div class="col-md-4">
                <img src="{{item.image.url}}" class="img-fluid" width="350" alt="{{item.name}}">
              </div>
              <div class="col-md-6">
                <div class="display-5">{{item.name}}</div>
                <h4> &#8358; {{item.price | intcomma }}</h4>
                <p class="lead">
                    {{item.washing | truncatewords:20 }}

                    <a href="{% url 'singleCar' item.id %}" class="btn btn-success">read more</a>
                </p>
              </div>
              {% endfor %}
            {% else %}
              <p class="lead p-2 bg-danger text-white">No result found</p>
            {% endif %}
            
        </div>
    </div>
</section>

{% endblock content %}
