
{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card p-3">
                    <h3>Password reset complete</h3> 
                        <h5>Your password has been set. You may go ahead and log in now.</h5><br>
                        <div class="text-center">
                            <a class="text-dark" href="{% url 'loginuser' %}">Return to Login</a>
                        </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}


