{% extends "base.html" %}
{% block content %}
  
<div class="container my-5">
    <div class="card p-5">
        <div class="display-4">Password reset</div>
        <p class="lead">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <div class="d-grid mb-4">
                <button type="submit" class="btn btn-success">Send Password</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}